    </div>
    <div class="bar bottom">
      <p class="bottomurl">geekysuavo.github.io</p>
      {% include box.html type="upsquare" color="grey" %}
    </div>
    {% if include.sidebar == true %}
    <div class="bar side">
    </div>
    {% endif %}
    <div id="lightboxDiv" style="display: none;"
      onclick="hideLightbox(); return false;"></div>
    <div id="lightboxImage" style="display: none;"
      onclick="hideLightbox(); return false;"></div>
    <div id="lightboxTitle" style="display: none;"
      onclick="hideLightbox(); return false;"></div>
    <div id="lightboxText" style="display: none;"
      onclick="hideLightbox(); return false;"></div>
  </body>
</html>
