<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.url }}/res/wrap/wrap.css" />
    <script
      type="text/javascript"
      src="{{ site.url }}/res/wrap/wrap.js">
    </script>
  </head>
  <body>
    <a name="top" />
    <div class="bar {{ page.bar }}">
      {% include topbox.html type="rect" color="red"
         text="about" link="about.php" %}
      {% include topbox.html type="square" color="blue"
         text="sci" link="sci.php" %}
      {% include topbox.html type="square" color="green"
         text="sw" link="sw.php" %}
      {% include topbox.html type="square" color="violet"
         text="hw" link="hw.php" %}
      {% include topbox.html type="square" color="orange"
         text="cv" link="bworley.pdf" %}
      {% include topbox.html type="square" color="yellow"
         text="etc" link="etc.php" %}
