<!doctype html>
<html>
  <head>
    <title>
      {% if page.title %}
      {{ page.title }} - geekysuavo.github.io
      {% else %}
      geekysuavo.github.io
      {% endif %}
    </title>
    <link rel="stylesheet" type="text/css"
      href="{{ site.url }}/res/wrap/wrap.css" />
    <link rel="stylesheet" type="text/css"
      href="{{ site.url }}/res/wrap/rouge.css" />
    <script type="text/javascript"
      src="{{ site.url }}/res/wrap/wrap.js">
    </script>
    <meta charset="utf-8" />
  </head>
  <body>
    <a name="top" />
    <div class="bar {{ page.bar }}">
      {% include box.html type="rect" color="red"
         text="about" base="url" link="about.html" %}
      {% include box.html type="square" color="blue"
         text="sci" base="url" link="sci.html" %}
      {% include box.html type="square" color="green"
         text="sw" base="url" link="sw.html" %}
      {% include box.html type="square" color="violet"
         text="hw" base="url" link="hw.html" %}
      {% include box.html type="square" color="orange"
         text="cv" base="db" link="bworley.pdf" %}
      {% include box.html type="square" color="yellow"
         text="etc" base="url" link="etc.html" %}
